

.container{
  width: 100%;
  height: 100%;
  background-color: #39c5bb;
  box-sizing: border-box;
}

.container>canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  background-color: #FFFFFF99;
  padding: 10px 20px;
}